label{
    width:125px;
}
#addMember{
    display:none;
}
body{
    margin:0;
}
table{
    border-collapse:separate; 
    border-spacing:10px;
}

#head{
    position:fixed;
    top:0;
    left:0;
    padding: 5px 10px;
    width:100%;
    height:55px;
    background-color:black;
    color:white;
    vertical-align:middle;
    z-index:2;
}
#head h1 {
    display:inline-block;
    margin:0;
    margin-right:10px;
}
#menu{
    display:inline-block;
}
#menu>.entry{
    display:inline-block;
    padding:3px 5px;
    background-color:#eef;
    color:black;
    border:1px solid black;
    cursor:pointer;
}
#menu>.entry:hover{
    background-color:#ddf;
}

#content{
    position:absolute;
    top:50px;
    margin:0px 8px;
}
a{
    color:blue;
}
input {
    border: 1px solid gray;
}
input:invalid,select:invalid {
  background-color: #FEE;
}
